/* panou incarcare imagine */
.error {
  color: #f00;
}

.dragarea {
  font-size: 1.5rem;
  border: 3px solid #bbb;
  padding: 1.5rem;
  background-color: #01345B;
  color: #bbb;
}

.droparea {
  font-size: 1.5rem;
  border: 5px dashed #bbb;
  padding: 1.5rem;
  background-color: #eff;
  color: #aaa;
}

/* afisare imagine centrata */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* animatie cerc */
.circle {
	float: right;
	background: linear-gradient(white, rgb(231, 221, 221));
	height: 10vh;
	width: 10vh;
	border-radius: 50%;
	animation: animate 0.6s linear infinite;
}
@keyframes animate {
	from {transform: rotate(0deg);} to {transform: rotate(360deg);}
}
.circle::after {
	content: '';
	position: absolute;
	background-color: black;
	margin: 35px 35px 35px 35px;
	border-radius: 50%;
}
.circle span {
	position: absolute;
	background: linear-gradient(#01345B, #023861);
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
.circle span:nth-child(1) {
	filter: blur(5px);
}
.circle span:nth-child(2) {
	filter: blur(10px);
}
.circle span:nth-child(3) {
	filter: blur(20px);
}
.circle span:nth-child(4) {
	filter: blur(35px);
}
/* gradient 1*/
.btn-grad1 {
  background-image: linear-gradient(to right, #000046 0%, #1CB5E0  51%, #000046  100%);
  margin: 10px;
  padding: 10px 10px;
  text-align: center;
  text-transform: lowercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad1:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

/* gradient 2*/
.btn-grad2 {
  background-image: linear-gradient(to right, #870000 0%, #190A05  51%, #870000  100%);
  margin: 10px;
  padding: 10px 10px;
  text-align: center;
  text-transform: lowercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad2:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

/* gradient 3*/
.btn-grad3 {
  background-image: linear-gradient(to right, #0575E6 0%, #021B79  51%, #0575E6  100%);
  margin: 10px;
  padding: 10px 10px;
  text-align: center;
  text-transform: lowercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad3:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

/* afisare butoane pe aceeasi linie */
#outer1
{
    width:100%;
    text-align: center;
    align-items: center;
}

.inner1
{
    display: inline-block;
}

#outer2
{
    width:100%;
    position: fixed;
    text-align: center;
    align-items: center;
    bottom: 0;
    left: 55vh;
}

.inner2
{
    display: inline;
}

// highcharts
#chart-gauge, #chart-pie, #chart-line {
  display: inline-block;
  min-width: 226px;
  max-width: 800px;
  height: 180px;
  margin: 0 auto;
}

body {
  font-family: 'Prompt', sans-serif;
  align-content: center;
  text-align: center;
}

.quodrant{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.qtop,
.qbottom{
  width: 100%;
  height: 50vh;
}

.quodrant1,
.quodrant2,
.quodrant3,
.quodrant4{
  display: inline;
  float: left;
  width: 50%;
  height: 100%;
}

.quodrant1{
  top: 0;
  left: 50vh;
  background-color: white;
}

.quodrant2{
  top: 0;
  left: 0;
  background-color: #a71d1d;
}

.quodrant3{
  top: 50vw;
  left: 0;
  background-color: #f04c4c;
}

.quodrant4{
  top: 50vw;
  left: 50vh;
  background-color: #52d6cd;
}
